{% extends "_base.jinja2" %}

{% block head %}
<script defer>
  $(document).ready(getToc)
</script>
{% endblock %}

{% block title %}
  <title>Shiksha360</title>
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}
  <img src="webp/ourvision.webp" class="nomobile center" width="300px" />
  {{ super() }}
  <div class="index-container">
    <div class="our-vision">
      <div class="ic-content">
        <h3><strong>Our Vision</strong></h3>
      </div>
    </div>
  </div>
{% endblock %}