pyvirtualdisplay
selenium
ruamel.yaml
pyyaml
google-api-python-client
google-auth-oauthlib 
google-auth-httplib2
fastapi
jinja2
beautifulsoup4
orjson
asyncpg
loguru
cython
git+https://github.com/Fates-List/lynxfall
fastapi-restful[all]
aiohttp
uvicorn
msgpack
aenum
