$title-padding: 3px;

.title {
    padding: $title-padding;
}

.boards, .subject, li {
    display: list-item;
    list-style: none !important;
    list-style-type: none !important;
    padding: $title-padding;
}

#toc {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    display: block;
    border: solid;
    background-color: #D3D3D3;
}

.subject-desc {
    display: block;
    width: 100%;
    text-align: left !important;
}