$title-padding: 3px;

.title {
    padding: $title-padding;
}

#toc {
    width: 40%;
    margin: 0 auto;
}

.subject-desc {
    display: block;
    width: 100%;
    text-align: left !important;
}

.card-header.collapsed::after {
    display: none;
}

.card-header::after {
    display: none !important;
}

$accordion-border-radius: 5px 5px 5px 5px;