$title-padding: 3px;

.title {
    padding: $title-padding;
}

.boards {
    display: list-item;
    list-style: none;
    list-style-type: none;
    padding: $title-padding;
}

ul, li {
    list-style-type: none;
    list-style: none;
}

#toc {
    text-align: center;
}